*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: sans-serif;
    color:white;
}




html,body{
    width:100%;
    height: 100%;
}

#container {
    background-image: url("https://img.freepik.com/free-photo/black-brick-wall-textured-background_53876-63572.jpg?w=996&t=st=1697383445~exp=1697384045~hmac=a004fa7a9f7150da2f4c2c70c2d7e4e04cbdd7a77ac806df3a17052a4fa35097");
    background-size: cover; /* This makes the image cover the entire container */
    background-position: center; /* Center the image horizontally and vertically */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#panel{
    width:80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    background-color: aqua;

}